
<div id="contact">
<head>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <body>
        <section class="contact">
            <div class="content">
            <h2>Kontakta oss</h2>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, dolor. Deserunt exercitationem commodi excepturi asperiores, incidunt quia odio fuga veniam, nihil corrupti earum ullam. Ullam quam natus dicta unde quisquam.</p>  
            </div>
            <div class="container">
                <div class="contactInfo">
                    <div class="box">
                        <div class="icon"><i class="fas fa-map-pin"></i></div>
                        <div class="text">
                            <h3>Adress</h3>
                            <p>Origovägen 4, <br>Johanneberg, Göteborg, <br>42350</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"><i class="fas fa-phone"></i></div>
                        <div class="text">
                            <h3>Telefon</h3>
                            <p>0709376516</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"><i class="fas fa-envelope" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>max.svensson@elev.ga.ntig.se</p>
                        </div>
                    </div>
                </div>
                <div class="contactForm">
                    <form>
                        <h2>Skicka meddelande</h2>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Namn</span>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Email</span>
                        </div>
                        <div class="inputBox">
                            <textarea  required="required"></textarea>
                            <span>Skriv ditt meddelande...</span>
                        </div>
                            <div class="inputBox">
                            <input type="submit" name="" value="Skicka">
                        </div>
                    </form>
                </div>
            </div>   
        </section>      
    </body>
</head>
</div>