<div id="home">
  <section class="container">
    <h1>Välkommer USER</h1>

    <div class="info">
        <article class="math">Matte</article>
        <br>
        <article class="english">Engelska</article>
        <br>
        <article class="swedish">Svenska</article>
    </div>
  </section>
</div>
