<div id="setup">
    <form>
  <input type="checkbox" id="calendar_1" >
  <label>Kalender 1</label><br>
  <input type="checkbox" id="calendar_2" >
  <label>Kalender 2</label><br>
  <input type="checkbox" id="calendar_3" >
  <label>Kalender 3</label>
</form>
</div>