<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/Js/user.js"></script>
    <link rel="stylesheet" href="/Css/style.css">
    <meta name="google-signin-client_id" content="548185768048-lhm3f4gpepgeq4rv4v331n7aviiansb7.apps.googleusercontent.com">
    <title>Week planner</title>
    <div id="main">
</head>
<body>
    <div class="circle_background"></div>
        <header>
            <ul>
                <li><a href="/home">Hem</a></li>
                <li><a href="/login">Registrering</a></li>
                <li><a href="/settings">Inställningar</a></li>
                <li><a href="/contact">Kontakt</a></li>
            </ul>
        </header>
    {{{body}}}
</body>
</div>
</html>
