<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/Js/user.js"></script>
    <meta name="google-signin-client_id" content="548185768048-lhm3f4gpepgeq4rv4v331n7aviiansb7.apps.googleusercontent.com">
    <title>Week planner</title>
</head>
<body>
    <button onclick="signOut">Logout</button>
    {{{body}}}

</body>
</html>
